@font-face {
  font-family: viga;
  src: url(./assets/fonts/Viga-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background-color: #FFFFFF;*/
}



p, h1, h2, h3, h4, h5, h6 {font-family: viga}

body {
  max-width: 1920px;
}

.bg-image{
  background-image: url('./assets/hero-image.png');
  height: 40em;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative
}

.navbar{
  box-shadow: none !important;
}

.nav-item{
  margin-left: 3em;
}

.nav-link{
  color: #fff !important;
  font-weight: bold;
}

.nav-icon{
  color: #fff !important;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

.c-header-heading{
  font-size: 4rem;
  font-weight: 900;
}

.buy-button{
  margin-top: 100 !important;
}

.nav-link:hover {
  border-bottom: 3px solid red;
}

.nav-link.active {
  border-bottom: 3px solid red;
}

.section2-bg-image{
  background-image: url('./assets/h2-background-img-3.jpg');
  min-height: 45em;
  /* min-height: 380px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative
}

.image-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(61, 61, 61,0.5);
}

.section2-heading{
  margin-top: 7rem;
}

.h-border1{
  width: 4rem;
  height: 2px;
  background-color: #fff;
}

.g-title{
font-size: 1.2rem;
font-weight: bold;
}

.section3-bg{
  background-color: #0E0E0E;
}

.dream-img{
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.s3-heading {
  font-size: 4rem;
  max-width: 80%;
  font-weight: 400;
}

.s3-description{
  font-size: 1.1rem;
  max-width: 80%;
  font-weight: 100;
  color: #7f7f7f;
}

.btn-s3{
  border-radius: 0 !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 1.1rem !important;
  padding-bottom: 1.1rem !important;
  font-size: 0.9rem !important;
}

.testimonials-bg{
  background-color: #262323;
  min-height: 40rem;
}

.tes-name {
  font-size: 1.8rem;
  max-width: 80%;
  font-weight: 400;
}

.tes-level{
  font-size: 1rem;
  max-width: 80%;
  font-weight: 100;
  color: #7f7f7f;
}

.tes-des-container{
  max-width: 70%;
}

.tes-description{
  font-size: 1.1rem;
  max-width: 70%;
  color: #7f7f7f;
  text-align: center;
}

.tes-chev{
  font-size: 1.6em;
  cursor: pointer;
}

.expl-img{
  background-size: contain;
  background-repeat: no-repeat;
}

.expl-card{
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 5em;
  padding-top: 10em;
  padding-bottom: 0 !important;
}

@media only screen and (max-width: 600px) {
  .c-header-heading{
    font-size: 1.6rem !important;
    white-space: nowrap;
    font-weight: 900;
  }

  .section2-bg-image{
    min-height: 110em !important;
  }
  .re-c-game{
    margin-top: 2rem !important;
  }

  .s3-heading {
    font-size: 1.6rem !important;
    margin-top: 2rem !important;
  }
  
  .s3-description{
    font-size: 0.8rem !important;
  }

  .btn-s3{
    border-radius: 0 !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
    font-size: 0.9rem !important;
  }
  .expl-card{
    padding: 0 !important;
  }
  
}

@media only screen and (max-width: 768px) {
  .c-header-heading{
    font-size: 1.6rem !important;
    white-space: nowrap;
    font-weight: 900;
  }

  .section2-bg-image{
    min-height: 110em !important;
  }
  .re-c-game{
    margin-top: 2rem !important;
  }

  .s3-heading {
    font-size: 1.6rem !important;
    margin-top: 2rem !important;
  }
  
  .s3-description{
    font-size: 0.8rem !important;
  }

  .btn-s3{
    border-radius: 0 !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
    font-size: 0.9rem !important;
  }
  .expl-card{
    padding: 0 !important;
  }
  
}